
/* applicationpage */
.container {
    position: absolute;
    bottom: 0;
    left: -2rem;
    display: flex;
    justify-content: flex-start;
    padding: 3rem;
  }
  
  .button {
    padding: 0.5rem 1rem;
    background-color: #3a2a79;
    color: white;
    border-radius: 9999px;
    font-size: 0.875rem; /* text-sm in Tailwind */
    display: flex;
    align-items: center;
    border: none;
  }
  
  .button:hover {
    background-color: white;
    border: 2px solid #483d73;
    color: #483d73;
  }
  
  .icon {
    background-color: white;
    color: #483d73;
    border-radius: 9999px;
    height: 1rem; /* h-4 in Tailwind */
    width: 1rem; /* w-4 in Tailwind */
    padding: 0.25rem; /* p-1 in Tailwind */
    margin-left: 0.5rem; /* ml-2 in Tailwind */
    margin-top: 0.125rem; /* mt-[2px] in Tailwind */
  
  }
  
  .button:hover .icon {
    background-color: #483d73;
    color: white;
  }