/* application.module.css */

.primary-button {
    @apply bg-red-600 rounded-md p-1 px-6 text-white font-montserrat font-semibold text-16;
  }
  
  .menu-backdrop {
    position: absolute;
    top: var(--block-top);
    left: var(--block-left);
    height: var(--block-height);
    width: var(--block-width);
    border-radius: 4px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease,
      top 1s cubic-bezier(0.75, 0, 0, 1) 0.1s,
      left 1s cubic-bezier(0.75, 0, 0, 1) 0.1s,
      height 1s cubic-bezier(0.75, 0, 0, 1) 0.1s,
      width 1s cubic-bezier(0.75, 0, 0, 1) 0.1s;
  }
  
  .link-name {
    position: relative;
    z-index: 1;
    transition: background-color 1s ease, color 1s ease;
  }
  
  .link-name:hover {
    background-color: black;
    color: white;
  }
  
  .hideScrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .hideScrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  @-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    60% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }
  
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-3px);
      transform: translateY(-3px);
    }
    60% {
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }
  
  .buttonContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    padding: 1.75rem;
  }
  
  .customButton {
    padding: 0.3rem 0.5rem;
    background-color: #3a2a79;
    color: white;
    border-radius: 9999px;
    font-size: 0.875rem; /* text-sm in Tailwind */
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    border: none;
  }
  
  .customButton:hover {
    background-color: white;
    border: 2px solid #483d73;
    color: #483d73;
  }
  
  .customIcon {
    background-color: white;
    color: #483d73;
    border-radius: 9999px;
    height: 1rem; /* h-4 in Tailwind */
    width: 1rem; /* w-4 in Tailwind */
    padding: 0.25rem; /* p-1 in Tailwind */
    margin-left: 0.5rem; /* ml-2 in Tailwind */
    margin-top: 0.125rem; /* mt-[2px] in Tailwind */
    transition: all 0.3s ease;
  }
  
  .customButton:hover .customIcon {
    background-color: #483d73;
    color: white;
  }
  
  .arrowUp {
    position: absolute;
    left: 43%;
    font-weight: 800;
    cursor: pointer;
    margin-top: -0.5rem;
    transition: visibility 0.3s, opacity 0.3s;
  }
  
  .arrowUp.invisible {
    visibility: hidden;
    opacity: 0;
  }
  
  .arrowUp.visible {
    visibility: visible;
    opacity: 1;
  }
  .arrowDown{
    margin-left: 44%;
  }
  