/* style.module.css */

.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  /* z-index:9999; */
  top: 0;
}

.card {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 500px;
  width: 1200px;
  border-radius: 25px;
  padding: 50px;
  background-color: #1a2e3e;
  color: white;
  overflow: hidden;
}

.expertiseContainer {
  position: absolute;
  top:0px;
  left: 0px;
  display: flex;
  height: 40%;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.expertiseContainer svg {
  margin-right: 10px;
}

.expertiseText {
  font-size: 16px;
}

.card h2 {
  margin: 0px;
  font-size: 28px;
}

.card .body {
  display: flex;
  height: 100%;
  gap: 50px;
  flex: 1;
}

.card .body .description {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .body .description p {
  font-size: 16px;
}

.card .body .description p::first-letter {
  font-size: 28px;
  font-family: 'Title';
}

.card .body .description span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .body .description span a {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

.card .body .imageContainer {
  width: 40%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.card .body .imageContainer .inner {
  width: 100%;
  height: 100%;
}

.card .body .imageContainer img {
  object-fit: cover;
}

.plusButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #1a2e3e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
