/* Hero Section CSS */
.pn-hero-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f5f5f5;
  position: relative;
}

@media (min-width: 768px) {
  .pn-hero-section {
      height: 100vh;
      min-height: 480px;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      background-color: #f5f5f5;
      z-index: 3;
  }
}

.pn-hero-section__wrapper {
  max-width: 1600px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 3;
}

@media (min-height: 420px) {
  .pn-hero-section__wrapper {
      margin-top: 200px;
  }
}

@media (min-height: 580px) {
  .pn-hero-section__wrapper {
      margin-top: 320px;
  }
}

@media (min-width: 768px) {
  .pn-hero-section__wrapper {
      margin: 0 auto;
      text-align: left;
  }
}

.pn-hero-section__inner {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 60px 0;
}

@media (min-width: 768px) {
  .pn-hero-section__inner {
      width: 38.8%;
      min-width: 450px;
  }
}

.pn-hero-section__title {
  margin: 0;
  font-size: 3rem;
  line-height: 4.4rem;
  font-weight: 300;
  word-break: keep-all;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .pn-hero-section__title {
      font-size: 4.4rem;
      line-height: 6.6rem;
  }
}

.pn-hero-section__paragraph {
  margin: 22px 0 0;
  color: rgba(16, 24, 32, 0.8);
}

@media (min-width: 768px) {
  .pn-hero-section__paragraph {
      margin: 15px 0 0;
      line-height: 3rem;
  }
}

.pn-hero-cta-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pn-hero-cta-block__cta-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #f5f5f5;
  background-color: #000;
  border-radius: 4px;
  text-decoration: none;
}
.pn-clients-section {
  border-bottom: 1px solid rgba(16, 24, 32, 0.1);
}

@media (min-width: 768px) {
  .pn-clients-section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-bottom: none;
      overflow: hidden;
      height: 100vh;
      position: sticky;
      bottom: 0;
      /* background-color: #f6f6f6; */
  }
}

