/* components/PositionAwareButton.module.css */
.btnPosnawr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    line-height: 80px;
    color: #000;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50px;
    max-width: 200px;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid #afafaf;
    border-radius: 1.5rem;
    transition: color 0.3s ease-in-out;
}

.btnPosnawr span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #483878;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, top 0.1s, left 0.1s;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btnPosnawr:hover {
    color: #eee;
}

.btnPosnawr:hover span {
    width: 225%;
    height: 562.5px;
}

.btnPosnawr:active {
    background-color: #483d78;
}
